<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:label="HttpCanary HAR Exporter"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Add HAR export to HttpCanary history sessions." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
